.reviews-show {
  #Viewer2dDiv,
  #Viewer3dDiv {
      height: 400px;
      background-color: #F0F8FF;
  }

  .editor {
    background-color: #A9A9A9;
    a {
      display: block;
      padding: 10px 20px 10px 10px;
      font-weight: 300;
      color: white;

      &:hover {
        background-color: #919191;
      }
    }
  }

  #SheetPane {
    height: 400px;
    overflow: auto;
  }
}

.projects-new {
  .google-button i {
    padding-right: 0.7em;
    margin-right: 0.7em;
    border-right: 1px solid #0069e1;
  }
}
